body{
    background: url("img/yıldız.webp") no-repeat center center fixed; 
    -webkit-background-size: cover; -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    
}

img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    text-align: center;
}

#renderCharactersButton{
    margin-left: 52rem;
    margin-top: 2rem;

}
.imgBox{
    text-align: center;
}
.pageImgCenter{
    width: 65rem;
    height: 38rem;
    margin-top: 7rem;
}


.pageCard{
    background: url("img/yıldız.webp");
  
    
}


@media (max-width: 768px) {
    .container{
        margin-left: 2rem;

    }
    #renderCharactersButton {
        margin-left: 6rem;
    }

}
